header{
	margin: 30px 0 0 30px;
}
.head{
	display: inline-block;
}
.navigation{
	display: inline-block;
	vertical-align: middle;
}
.navigation-lists{
	display: inline-block;
	margin-left: 50px;
	/*აქ გასაგრძელებელია !!!!!*/
}
.navigation-a{
	font-family: ninomtavrulibold;
	font-size: 22px;
	margin-right: 22px;
}
.mainsection{
	margin: 30px 0 0 98px;
}
.banner-img{
	margin-top: 55px;
}
.underimg{
	margin-top: 108px;
}
.title{
	font-family: robotoregular;
	font-size: 24px;
	margin-bottom: 31px;
}
.leftside{
	width: 570px;
	height: 225px;
	display: inline-block;
	background-color: #F2F2F2;
}
.leftimg{
	display: inline-block;
	margin-left: 22px;
}
.insideleft1{
	font-family: robotoregular;
	font-size: 22px;
	color: #3D58A6;
	margin: 22px 0 12px 11px;
}
.insideleft2{
	font-family: robotoregular;
	font-size: 20px;
	display: inline-block;
	/*color: red;*/
	/*height: 143.29px;*/
	width: 355px;
	vertical-align: top;
	margin-left: 50px;
}
.rightside{
	margin-left: 29px;
	width: 570px;
	height: 225px;
	/*max-width: 570px;*/
	display: inline-block;
	background-color: #F2F2F2;
	vertical-align: top;
}
.insideright1{
	font-family: robotoregular;
	font-size: 22px;
	color: #3D58A6;
	margin: 22px 0 12px 11px;
}
.rightimg{
	display: inline-block;
	margin-left: 29px;
}
.insideright2{
	font-family: robotoregular;
	font-size: 20px;
	display: inline-block;
	width: 355px;
	vertical-align: top;
	margin-left: 53px;
	margin-right: 30px;

}
.footer{
	margin-left: 98px;
	margin-top: 70px;
	margin-bottom: 37px;
}
.facebook{
	margin-right: 30px;

}
.div{
	margin-right: 30px;
	font-size: 34px;
	vertical-align: top;
	color: #363E97;
}
.youtube{

}
.map{
	background-color: #E6E6E6;
	height: 570px;
}
.lightcolor{
	color: #808080;
}
.contact-title{
	font-family: ninomtavrulibold;
	font-size: 20px;
	color: #3D58A6;
}
.contact-box{
	margin-top: 16px;
	margin-left: 87px;
	padding-top: 73px;
}