.head{
	display: inline-block;
}
.navigation{
	display: inline-block;
	vertical-align: middle;
}
.navigation-lists{
	display: inline-block;
	/*აქ გასაგრძელებელია !!!!!*/
}
.navigation-a{
	font-family: ninomtavrulibold;
}
